<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/logo.jpg" alt="Company Logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class = "mt-2">Applications</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Home</a>
  <a mat-list-item routerLink="/pollCreate" *ngIf="rol == 'admin'" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Crear encuesta</a>
  <a mat-list-item routerLink="/poll" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Encuestas</a>
  <a mat-list-item routerLink="/data" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Mis datos</a>

</mat-nav-list>
