<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto"href="#">Blockchain Encuesta</a>
  <!--Paso 2. Mostrar el formulario de nueva encuesta al clickear-->
  <button type="button"
  class="btn btn-secondary"
  (click) = "showForm = !showForm"
  >Crear Encuesta</button>
</nav>

<section class = "jumpotron bg-light text-center">
  <h1>Listado de encuestas</h1>
  <p class = "lead text-muted">Desarrollado con Blockchain</p>
</section>

<app-poll-create *ngIf = "showForm"></app-poll-create>

<div class="d-flex">
  <!--Mostrando la lista de encuestas -->
  <div class = "container poll-list">
    <!--Recogemos poll desde app.component.ts -->
    <app-poll *ngFor = "let poll of polls"
    [question] = "poll.question"
    [pollImage] = "poll.image"
    [voted] = "poll.voted"
    [votes] = "poll.votes"
    ></app-poll>
  </div>
  <!--Mostrando el detalle de la encuesta-->
  <div class = "container poll-detail">
    Detalle
  </div>
</div>
