<app-login (senderStateLogin) = "receiveStateAuth($event)" *ngIf = "login == false">
  <!--[received] = "login"-->
</app-login>

<mat-drawer-container *ngIf = "login == true">
  <!--(state_login) = "login"-->

  <!--Inicio Sidenav-->
  <mat-drawer mode = "side" [opened] = "sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <!--Fin Sidenav-->

  <mat-drawer-content>

    <!--Inicio cabezera-->
    <app-header (toggleSidebarForMe)="sideBarToggler()" (senderStateLoginHeader) = "receiveStateAuthLogout($event)">
    </app-header>
    <!--Fin cabezera-->

    <!--Inicio sección cambiante-->
    <router-outlet></router-outlet>
    <!--Fin sección cambiante-->

  </mat-drawer-content>

</mat-drawer-container>





