<mat-drawer-container>

  <!--Inicio Sidenav-->
  <mat-drawer mode = "side" [opened] = "sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <!--Fin Sidenav-->

  <mat-drawer-content>

    <!--Inicio cabezera-->
    <app-header (toggleSidebarForMe)="sideBarToggler()">
    </app-header>
    <!--Fin cabezera-->

    <!--Inicio sección cambiante-->
    <router-outlet></router-outlet>
    <!--Fin sección cambiante-->

  </mat-drawer-content>
</mat-drawer-container>

<!--<app-poll
            *ngFor = "let poll of polls | async"
            [question] = "poll.question"
            [pollImage] = "poll.thumbnail"
            [voted] = "poll.voted"
            [votes] = "poll.results"
            (click) = "setActivePoll(poll)"
></app-poll> -->


