@import "../home/home.component.scss";

.question_title {
  margin-left: 300px;
}

.poll-image {
  width: 100%;
  max-height: 180px;

  img {
    height: 180px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
