.modalFace {
  outline: none;
  position: absolute;
  margin-top: 0;
  top: 50%;
  overflow: visible; /* allow content to popup out (i.e tooltips) */
}

.modalFace-body {
  max-height: none;
  overflow: visible;
}
